<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creer une nouvelle &eacute;cole</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <H1> enregistrer une nouvelle &eacute;cole</H1>
        <div class="alert alert-info" role="alert">
            Veuillez remplir le formulaire suivant
        </div>
    <form action="/ecoles/save" method="POST" >
        <div class="form-group">
            <label for="formGroupExampleInput"> Nom de l&apos; &eacute;cole</label>
            <input type="text" class="form-control" id="formGroupExampleInput"
                   placeholder="Nom de l'ecole" name="name" required="required">
        </div>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>

</div>
</body>
</html>